@using GdiPlataform.Security
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <link href="~/LibUI_AdminLTE-4.0.0/plugins/bootstrap4-toggle/bootstrap4-toggle.min.css" rel="stylesheet" />
    <script src="~/LibUI_AdminLTE-4.0.0/plugins/bootstrap4-toggle/bootstrap4-toggle.min.js"></script>
    <script src="~/Scripts/jsFileInputChange.js?v=@(CachePersister.userIdentity.VersionERP)"></script>

    <style type="text/css">

        input.checkboxlarger {
            width: 25px;
            height: 25px;
        }

    </style>


</head>
<body>
    @RenderBody()
</body>
</html>



