@using GdiPlataform.Security
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <script src="~/Scripts/jsFileInputChange.js?v=@((CachePersister.userIdentity != null) ? CachePersister.userIdentity.VersionERP : ControlVersion.getShortVersion())"></script>

    <style type="text/css">

        input.checkboxlarger {
            width: 25px;
            height: 25px;
        }

    </style>


</head>
<body>
    @RenderBody()
</body>
</html>

