<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- Remove debug="true" do Web.config em Release (compilação otimizada) -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- Em Release: nenhum cliente vê stack trace (mode On). Páginas em defaultRedirect / error statusCode do Web.config base. -->
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
  </system.web>
</configuration>
