@model GdiPlataform.Areas.gc.Models.CstReportHTML
@using GdiPlataform.Security
@{ Layout = null; }
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link href="~/LibUI_AdminLTE-4.0.0/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/LibUI_AdminLTE-4.0.0/plugins/fontawesome-free-7.2.0/css/all.min.css" rel="stylesheet" />
    <link href="~/LibUI_AdminLTE-4.0.0/plugins/startprime/css/start.css" rel="stylesheet" />
    <title></title>
    <style type="text/css">
        table tr.page-break {
            page-break-after: always
        }
    </style>
</head>
<body>
    @Html.Raw(@Model.BodyHTML)
</body>
</html>
