@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Acesso Negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 m-0 p-0">
        <br />
        <div class="card bg-danger text-white shadow-sm">
            <div class="card-body m-0 p-2">
                <div class="row">
                    <div class="col-lg-3">
                        <i class="fa-solid fa-circle-exclamation fa-5x"></i>
                    </div>
                    <div class="col-lg-9 text-sm-end">
                        @if (@Model == null)
                        {
                            <div class="huge">Recurso não encontrado</div>
                            <div>O Recurso solicitado "@Request.QueryString["aspxerrorpath"]" não foi encontrado no sistema!</div>
                        }
                        else
                        {
                            <div class="huge">Erro no processamento</div>
                            <div>@Model.ControllerName</div>
                            <div>@Model.ActionName</div>
                            <div>@Model.Exception</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
