<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
       <add key="files" value="g_cidades;g_clientes;g_contas_caixas;g_perfis;g_regioes;g_usuarios;g_vendedores;g_financeiro;g_financeiro_faturamentos;g_produtos;g_produtos_tipos;g_filiais;g_nfe;g_requisicoes;g_revendas;g_clientes_produtos_fixos;gc_movimentos;gc_movimentos_itens;gc_movimentos_financeiros;gc_financeiro_lancamentos;ged_arquivos;gc_comex_importacoes;gc_comex_financeiro;gc_comex_importacoes_itens_lotes;g_contratos_aviacao;g_produtos_medicoes;gc_comex_invoices_itens" />
   </appSettings>
</configuration>


